*{
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    
}
body{
                    background-color: #ffffff;
}header, footer, nav {
                    background-color: #3d3b8e;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    height: 150px;
                    
                    color: #ffffff
                    
                    
                    
}
main{
                    padding: 0.75rem;
                    margin: 0.5rem;
                    align-items: center;
                    display: block;
                     
}
.one{
                    margin: 0.5rem;
                    padding: 0.75rem;
}
.two{
                    margin: 0.5rem;
                    padding: 0.75rem;
}
h2, h3{
                    text-align: center;
                    text-decoration:none;
                    font-weight: 100;
                    
}
body{
                    font-family:"Roboto", sans-serif;
                    font-family: 400;
                    margin: 0.5rem;
                    padding: 0.75rem;
}

