*{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
}
header, footer, nav {
                    background-color: rgb(22, 80, 131);
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    
                    
                    
}
h1 , p{
  color:white;
}
header{
                    padding-top: 15px;
                    padding-bottom: 15px;
}
.parent{
                    margin: 1.2rem 2vw;
                    padding-top: 20px;
                    padding-bottom: 20px;
}
.card {
                    border: 1px solid rgb(22, 80, 131);
                    background-color:white;
                    border-radius: 10px;
                    overflow: hidden;
                    margin: 1rem 0;
                    padding: 0;
                    text-align: center;
                    margin-bottom: 6px;
                    
                    
                    
}

.card #description{
  text-transform: capitalize;
  margin: 0.3rem 0;
}
.card #temperature{
  font-size: 2rem;
  margin: 0.3rem 0;
}
  .head{
                    background-color: rgb(22, 80, 131);
                    color:white;
                    display: block;
                    text-align: center;
                    padding: .75rem 0;
                    margin: 0;
}
section{
                    padding: 10px;
                    color: black;
}
body{
                    font-family:"Roboto", sans-serif; 
                    font-weight: 400;
                    height: 100%;
}
h1{
                    font-weight: 400;
                    color: black;
}
h2{
  font-weight:400 ;
  color: black;
  padding: 20px;
}
nav{
                    background-color:rgb(93, 61, 39);
                    
                    margin:0 auto;
}
nav a{
                    display: block;
                    color:white;
                    text-align: center;
                    padding: 1rem;
                    text-decoration: none;
}
.active{
                    color: blue;
}

  


nav ul  {
                    display: block;
                    justify-content:space-around;
                    width: 100%;
                    list-style-type:none ;
                    
}


nav a:hover{
                    background-color: rgba(255,255,255,0.2);
}
nav .active{
                    background-color: rgba(0,0,0,0.2);
}





          

footer{
  padding-top: 20px;
  padding-bottom: 20px;
  
}
header{
  padding-top: 20px;
  padding-bottom: 20px;
}
h1{
  padding: 20px;
}
h3{
  padding: 5px;
  margin: 3px;
  
}
#lastModified{
  display: block;
  position: relative;
  top: 5%;
  color: white;
}
.container{
  margin-top: 10px;
  text-align: center;
}
.parent p{
  padding: 10px;
}
.list{
  padding: 10px;
  text-align: left;
  justify-items: auto;
  color: rgb(22, 80, 131);
  
}
.list li{
  padding: 15px;
}
.list p{
  color: blue;
}
.name{
  color: white;
  font-size: 36px;
  font-weight: 400;
  padding: 1rem;
}
p{
color: black;
}
.last{
  color: white;
}
#myButton::before{
  content: "=";
}
#myButton{
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  width: 44px;
  text-align: right;
  padding:0.25rem 2vw;
  position: absolute;
  top: 0;
  right:15px
}
ul.menuLinks li a{
  display: block;
  padding: 0.75rem 2vw;
  color: white;
  text-decoration: none;
}
li.current-menu-item a{
  background-color: rgb(96, 61, 29,0.2);
}
ul.menuLinks{
  display: none;
  
  
  list-style-type: none;
}
#myButton.open::before{
  content:"x";
}
ul.open.menuLinks{
  display: block;
}
ul.menuLinks.open{
  display: block;
  
}
footer p{
  color: white;
  
}
#myBtn{
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
  
}
header{
  position: relative;
  
  
  cursor: pointer;

}






@media (min-width:640px){
  nav ul{
    display: flex;
    width: 100%;
    
  }
  nav ul li{
    flex: 1 1 100%;
    text-align: center;
  }
}
.hero{
  position: relative;

}

.hero picture{
  width: 100%;
}
.hero img{
  width: 100%;
  height: auto;
  display: block;
}
.hero span{
  position: absolute;
  top: 10%;
  left: 20px;
  width: 30%;
  background-color: rgba(255,255,255,0.3);
  padding: 1rem;
  text-align: center;
  border-style: double  ;
  


}

/* form styling*/















                    






                    
                    
               


